$mm: 20px;
$ff: normal 16px Comic Sans MS;

$black: #444;
$gray : #CCC;
$white: #FFF;

$gold : #980;
$green: #474;
$red  : #B00;

#field {
  width: 500px;
  height: 500px;

  margin: $mm auto auto;

  border: 1px solid $black;
  font-size: 0;

  b {
    width: 10%;
    height: 10%;

    display: inline-block;

    box-sizing: border-box;
    border-right: 1px dotted $gray;
    border-bottom: 1px dotted $gray;

    position: relative;

    &:nth-child(10n) { border-right: 0 }
    &:nth-child(n + 91) { border-bottom: 0 }

    &:before {
      content: '';

      width: 100%;
      height: 100%;

      display: block;

      border-radius: 100%;
      background: $green;

      position: absolute;
      opacity: 0;

      transition: opacity .1s linear;
    }
  }

  .filled:before { opacity: 1; }
  .dead:before { opacity: 1; background: $red; border-radius: 5px; }


  .apple:after {
    content: '';

    width: 30%;
    height: 30%;

    display: block;

    border-radius: 100%;
    background: $gold;

    position: absolute;
    left: 35%;
    top: 35%;

    animation: pulse 1.2s infinite linear;
  }
}

@keyframes pulse {
  0% {
    width: 30%;
    height: 30%;
    left: 35%;
    top: 35%;
  }

  50% {
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
  }

  100% {
    width: 30%;
    height: 30%;
    left: 35%;
    top: 35%;
  }
}

#move {
  width: 180px;
  height: 50px;

  margin: $mm auto auto;

  font: $ff;
  text-align: center;
  line-height: 47px;

  background: $black;
  color: $white;

  border: 0;

  cursor: pointer;

  transition: all .1s;

  user-select: none;

  &:hover {
    background: $gray;
    color: $black;
  }
}